.containerFlex {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.buttonFlex {
  display: flex;
  flex-direction: horizontal;
  gap: 10px;
}

.buttonFlex button {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.usernameSpan {
  margin: auto;
  font-weight: bold;
}

.logoButton {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.icon {
  margin-left: 5px;
}
