<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign Up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <form class="form-signin" action="/register" th:object="${registration}" method="POST" enctype="utf8">
        <h2 class="form-signin-heading">Sign Up</h2>
        <p th:if="${error_unknown}">Validation error</p>
        <p>
          <input th:field="*{username}" class="form-control" placeholder="username"/>
          <div th:if="${error_username}" th:text="${error}" class="alert alert-danger">Validation error</div>
        </p>
        <p>
          <input type="email" th:field="*{email}" class="form-control"  placeholder="email"/>
          <div th:if="${error_email}" th:text="${error}" class="alert alert-danger">Validation error</div>
        </p>
        <p>
          <input type="password" th:field="*{password}" class="form-control"  placeholder="password"/>
          <div th:if="${error_password}" th:text="${error}" class="alert alert-danger">Validation error</div>
        </p>
            <input type="password" th:field="*{passwordConfirmation}" class="form-control" placeholder="confirm"/>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <a th:href="@{/login}" class="btn btn-lg btn-outline-primary btn-block">Sign in</a>
      </form>
    </div>
  </body>
</html>
